<div class="navbar-lewagon navbar-collapse sticky-top">
  <%= link_to "MovieTime", lists_path, class: "navbar-brand logo" %>

  <div>
    <%= link_to "My Lists", lists_path, class: "navbar-brand lists" %>
    <%= link_to "New List", new_list_path, class: "navbar-brand lists" %>
  </div>
</div>