.movie-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.movie-card {
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  position: relative;
}

.movie-img {
  background-size: cover;
  background-position: center;
  height: 220px;
}

.movie-overview {
  color: rgb(150,150,150);
  font-size: 12px;
  text-align: justify;
  text-justify: inter-word;
  margin: 0;
}

.movie-title {
  font-size: 15px;
}

blockquote {
  color: rgb(10,10,10);
  font-size: 12px;
  font-style: italic;
  margin-bottom: 5px;
  position: absolute;
  bottom: 0;
}

blockquote:before {
  content: "\201C";
  font-size: 30px;
  color: rgb(10,10,10);
}

.delete-movie {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 13px;
}

.delete-link {
  color:rgba(255, 51, 0, 0.74);
  text-decoration: none;

  &:hover {
    color:rgba(155, 31, 0, 0.74);
  }
}

.movie-desc {
  padding: 10px;
  padding-bottom: 60px;
}