.navbar-lewagon {
  justify-content: space-between;
  background: #ec058e;
  padding: 8px 0px 8px 0px;
  display: flex;
  font-size: 16px;
  box-shadow: 0px 3px 12px #F2BEFC;
  border-top: 4px solid #FFFCF2;
  border-bottom: 4px solid #FFFCF2;

  a {
    text-decoration: none;
    margin-left: 10px;
  }

  .logo {
    color: #FFFCF2;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.9);
  }
}

.lists {
  font-size: 16px;
  color: #FFFCF2;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.7);

  &:hover {
    text-shadow: 0px 0px 8px #f2befc;
    color: #FFFCF2;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.filtered-background {
  transition: 1s ease;
  background: rgba(0,0,0,0.35);
}