// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.movie-form {
  padding: 10px;
  margin-left: 0px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  background-color: #1D1128;
  color: #FFFCF2;
  height: 100%;
  align-items: center;
  display: flex;
  font-size: 16px;
  text-align: start;
}

.form-btn {
  font-size: 24px;
  width: 100%;
  background-color: rgba(250,250,250,0.1);
  border-radius: 5px;

  &:hover {
    background-color: rgba(250,250,250,0.3);
  }
}

.input-form {
  border: 0px;
  border-bottom: 2px solid #FFFCF2;
  border-radius: 11px;
  background-color: rgba(250, 250, 250, 0.05);
  color: #FFFCF2;
}

.lists-banner {
  // background-color: #1D1128;
  background-image: url("https://www.ppt-backgrounds.net/thumbs/black-and-purple-cinema-download-ppt-backgrounds.jpg");
}

.lists-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-card {
  text-align: center;
  box-shadow: 0px 0px 10px rgba(250, 250, 250, 55%);
  background-size: cover;
  background-position: center;
  font-size: 32px;
  transition: ease 0.5s;

  a {
    text-decoration: none;
    color: #FFFCF2;
    text-shadow: 0px 0px 11px #ec058e;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 50px 30px;
    line-height: 250px;
    transition: ease 0.5s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  a:hover {
    font-size: 36px;
    background: rgba(0,0,0,0.8);
    transition: ease 0.5s;
  }
}
